/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #505050,
    $ui-tab-background-color-active: #303030,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #acacac,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: #404040,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
 
 @include extjs-button-small-ui(
	$ui: 'convalida',
	$background-color: #a9e4b1
);

@include extjs-button-small-ui(
	$ui: 'warning',
	$color: rgba(7,53,144,1.00),
    $background-color: rgba(241,201,51,1.00),
    $border-color: rgba(241,201,51,1.00)
);

 
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false
);


$tabbar-base-color : none;


.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}



$colors:(	
  red: red,
  green: green,
  label_white: white,
  rosa: #d85d7e,
  bordo: #b5383c
);

@include extjs-window-ui (
	$ui: 'win-corso',
	$ui-border-color: map-get($colors, 'rosa'),
	$ui-header-background-color: map-get($colors, 'rosa')
	
);

@include extjs-panel-ui (
	$ui: 'pnl-corso',
	$ui-border-color: map-get($colors, 'rosa'),
	$ui-header-background-color: map-get($colors, 'rosa')
	
);

@include extjs-panel-ui (
	$ui: 'pnlCompilatore',
	$ui-border-color: darken(map-get($colors, 'rosa'), 40%),
	$ui-body-background-color: lighten(map-get($colors, 'rosa'), 15%),
	$ui-border-radius: 5px,
	$ui-ignore-frame-padding: true,
	$ui-body-border-style: none
);

.labelCompilatore {
	color: darken(map-get($colors, 'rosa'), 40%);
	font-weight: bold;
	font-size: 14px;
}

.portletCorso .x-panel-header {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.x-grid-cell-inner {
	white-space: normal;
}

.portletCorso {
	padding: 4px;
    margin-bottom: 20px;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.corso_convalidato {
	background-image: url("images/filled-circle.svg");
	background-repeat: no-repeat;
}

.shortcutMenu {
	background-image: url("images/menu.svg");
	background-repeat: no-repeat;
	display:none;
}

.cntShortcut:hover .shortcutMenu {
	display: inline-block;
}

.corso_non_convalidato {
	background-image: url("images/filled-circle-gray.svg");
	background-repeat: no-repeat;
}

.labelWhite {
	color: map-get($colors, 'label_white');
}

.alert-danger {
   background: lighten(map-get($colors, 'red'), 40%);
   color: darken(map-get($colors, 'red'), 20%);
   border-radius: 5px;
   border-color: darken(map-get($colors, 'red'), 20%);
   border-style: solid;
   border-width: 1px;
}

.green-label {
	color: map-get($colors, 'green');
}

.azure {
	background: azure;
	border-bottom: 2px solid #5fa2dd;
}

.gridAlta30{
	height: 30px !important;
}

.recAnnullato {
    text-decoration: line-through;
}

.grassetto {
	font-weight: bold
}
 
.cntProfile {
	border: 1px solid #5fa2dd;
}

.icon-add {
	background-image: url("images/add.svg");
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url("images/search.svg");
	background-repeat: no-repeat;
}

.icon-acconto {
	background-image: url("images/acconto.svg");
	background-repeat: no-repeat;
}

.icon-avatar {
	background: map-get($colors, 'bordo');
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
     display: inline-block;
    margin-left: 4px;
    color: #fff;
    font-size: 11px;
    vertical-align: middle;
    line-height: 2.2;
}


.icon-annulla {
	background-image: url("images/deleted.svg");
}

.x-fieldset {
	border-radius: 5px;
}

.x-fieldset-header-default > .x-fieldset-header-text {
	font-size: 16px !important;
}

.calendar td {
	width: 100px;
	height: 90px;
	border: 1px solid #bbb;
}
.icon-registration {
	background-image: url("images/registration_user.svg");
	background-repeat: no-repeat;
}

.icon-prev,
.icon-next,
.icon-32 {
	width: 32px;
	height: 32px;
}

.icon-next  {
	background-image: url("images/next.svg");
	background-repeat: no-repeat;
}


.icon-prev {
	background-image: url("images/prev.svg");
	background-repeat: no-repeat;
}


.label-calendar {
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.containerProgress {
	width: 100%,
	
}

.progress {
	overflow: hidden;
	height: 18px;
	width: 100%;
	position: relative;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	  
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

}

.progress .bar {
	height: 18px;
	background-color: #8290af;
	  
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);

}


